section {
    background-color: #E4A5FF;
    color: #fff;
    text-align: center;
}

h1{
    color: #fff;
}

h2{
    color: #FFE7CE;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: aqua;
}