<div class="container">
    <h1 class="mt-4">Add New Book</h1>
    <div class="row">
        <div class="col-md-6">
            <form #form="ngForm" (ngSubmit)="addBook()" class="mt-3" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label><span class="text-danger" for="title">*</span>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newBook.title" required>
                    <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label><span class="text-danger" for="title">*</span>
                    <input type="text" class="form-control" id="author" name="author" [(ngModel)]="newBook.author" required>
                    <div *ngIf="form.controls['author'].invalid && (form.controls['author'].dirty || form.controls['author'].touched)" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label><span class="text-danger" for="title">*</span>
                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="newBook.price" required>
                    <div *ngIf="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="publishedAt" class="form-label">Published At</label><span class="text-danger" for="title">*</span>
                    <input type="date" class="form-control" id="publishedAt" name="publishedAt" [(ngModel)]="newBook.publishedAt" required>
                    <div *ngIf="form.controls['publishedAt'].invalid && (form.controls['publishedAt'].dirty || form.controls['publishedAt'].touched)" class="text-danger"></div>
                </div>
                <div *ngIf="form.invalid && (form.dirty || form.touched)" class="alert alert-danger">
                    Please fill in all required fields.
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
                <button type="button" class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>
