@model QuestionListViewModel

<h1>List of Questions (@Model.CurrentViewName View)</h1>
<a href="/Question/QuestionGrid">Questions in Grid View</a>

<partial name="_QuestionTable" model="Model.Questions"/>

<a class="btn btn-primary" asp-action="AnswerConsole">Console for Answers</a>