@model DonerSD.Models.Cart

<style>
    #cart {
        color:dodgerblue;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">


    <li id="cart" class="nav-item">
        <i class="fa fa-shopping-basket"></i>
        (@Model.CartLines.Count)
    </li>&nbsp;




</ul>
