@model Question

<h3>@Model.Title</h3>
<div class="row gx-5">
    <h5>@Model.Description</h5>
    <h6>@Model.User</h6>
    <p>
        <h6><a href="/Question/Index">Back to Questions</a></h6>
    </p>
</div>