@model IEnumerable<ITechForums.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>ITechForums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {

    <h4>@item.Title</h4>
    <p>@item.Description | Total answers: @item.Answers.Count</p>
        
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
               
}
